<div id="map-container">
  <div id="map"></div>
  <script>
    var map, marker;
    function initMap() {
      var eventLocation = {lat: <%= latitude %>, lng: <%= longitude %>};
      map = new google.maps.Map(document.getElementById('map'), {
        center: eventLocation,
        zoom: 15
      });
      marker = new google.maps.Marker({
        position: eventLocation,
        map: map
      });
    }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= MAP_API_KEY %>&callback=initMap"
  async defer></script>
</div>
