// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events.index {
  #popout-detail {
    position: absolute;
    background-color: rgba(0,0,0,0.5);
    width: 100%; height: 100%;
    top: 0; left: 0;
    box-sizing: border-box;
    padding: 5% 5%;

    .container {
      position: relative;
      width: 100%; height: 100%;
      background-color: white;
      box-sizing: border-box;
      padding: 15px;
      overflow: scroll;
    }

    #close-button {
      font-weight: normal;
      text-align: right;
      margin: 0;

      a {
        text-decoration: none;
      }
    }
  }
}
